<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p>Bienvenu à toi jeune fouineur. La liste des potins arrive prochainement !</p>
    <a href="/gossips/new/">En attendant, tu peux aller créer un nouveau potin</a>
  </body>
</html>